" GLOBAL
set incsearch
set hlsearch

" enter the current millenium
set nocompatible

" enable syntax and plugins (for netrw)
syntax enable
filetype plugin on

" Search down into subfolders
" Provides tab-completion for all file-related tasks
set path+=**

" Tweaks for browsing

let g:netrw_banner = 0
let g:netrw_liststyle = 3
let g:netrw_browse_split = 4
let g:netrw_altv = 1
let g:netrw_winsize = 25

autocmd BufRead *.tf,*.tfvars source ~/.vim/terraform_vim.rc
autocmd BufRead *.py source ~/.vim/python_vim.rc

